/* Header */
.header {
	background-color: rgb(19, 128, 46);
	color: rgb(156, 136, 47);
    padding: 1em;
	text-align: center;
  }
  
  .header nav ul {
	list-style: impact;
	padding: 0;
  }
  
  .header nav ul li {
	display: inline;
	margin-right: 1em;
  }
  