<!-- Fragmento para el mapa en index.html -->
<section id="ubicacion" class="mapa">
    <h2>Encuéntranos en:</h2>
    <div id="mapa"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.277864737931!2d-58.74730107851769!3d-34.52118748792909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc980266ee82a7%3A0x35523670a8130176!2sUniversidad%20Nacional%20de%20Jos%C3%A9%20C.%20Paz%20(UNPAZ)!5e0!3m2!1ses!2sar!4v1731022381649!5m2!1ses!2sar"
     width="610" height="455" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>


    <!-- Falta agregar el iframe que contiene el mapa -->
   

</section>